.component{
  width: 100%;
  // height: 10vh;
  box-shadow: 3px 1px 3px 1px #bebebe;
  margin: .2%;
  border-radius: 2%;
  vertical-align: center;
}

.company{
  font-size: .8em
}

.person{
  font-size: .6em;
  color: rgb(107, 107, 107);
}

.table{
  border: .3px solid rgba(202, 202, 202, 0.979);
  text-align: center;
}