.menu-hidenn{
  background-color: #2C3840 !important;
  border: none !important;
}

.img{
  border-radius: 50%;
  // border: solid 2px black;
}

#div-img{
  padding-top: 15%;
}

.txt{
  padding: 0 15% 0 0 ;
}

.text-color{
  color:rgba(255, 255, 255, 0.856);
  font-size: .9em;
}

