.pagination-top{
  background: rgb(133, 132, 228) !important; 
  text-align: right;
  border-radius: 5% 5% 0 0;
  color: white;
}

.my-icon{
  opacity: .5;
}

.my-input{
  // border-right: white;
  background: white;
}

.pagination-letters a{
  font-size: .7em;
}